/* * HEADER */
/* ! DEFAULTS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  /* colors */
  --darkest: #000000ff;

  --light: #f3f5f7;
  --lighter: #f6f5fa;
  --lightest: #f3f4f4ff;

  --gray: #cdcddbff;
  --dark-gray: rgb(146, 146, 155);

  --orange-acc: #f9321aff;
  --light-orange-acc: rgb(233, 174, 167);
  --dark-red-acc: #721c24;

  --light-violet-acc: #eeeefc;
  --violet-acc2: #5365d0ff;
  --violet-acc1: #7047fdff;

  --dark-green-acc: #224c3a;
  --green-acc: #68c19fff;
  --light-green-acc: rgb(178, 224, 206);

  /* font-sizes */
  --title: 1.75em;
  --sub-title: 1.5em;
  --normal: 1.2em;
  --details: 0.8em;
  --sub-details: 0.6em;

  /* border-radius */
  --subtle: 10px;
  --semi: 15px;
  --hard: 30px;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  /* * THIS DIVIDES THE HEADER AND THE MAIN */
  /* display: flex; */
  /* flex-flow: column nowrap; */
  position: relative;
}
/* ! END OF DEFAULTS */

header {
  /* * TO MAKE THIS IN FIXED POSITION */
  position: fixed;
  width: 100%;
  background-color: white;

  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  /* Remove solid border */
  /* border-bottom: none; */

  /* Add subtle bottom shadow */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  z-index: 9998;
}

.logo-div {
  border: 2px solid var(--violet-acc1);
  padding: 1rem;
  border-radius: var(--subtle);
}

.logo-div > p {
  color: var(--violet-acc1);
  font-size: var(--details);
  font-weight: 900;
  letter-spacing: 0.5rem;
}

.header-buttons {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}

.header-buttons > button {
  padding: 0.75rem 1rem;
  border-radius: var(--subtle);
  border: none;
  color: var(--violet-acc1);
  font-size: var(--details);
  background-color: var(--light-violet-acc);
}
