/* ! DEFAULTS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  /* colors */
  --darkest: #000000ff;

  --light: #f3f5f7;
  --lighter: #f6f5fa;
  --lightest: #f3f4f4ff;
  --light2: #fcfbfc;

  --gray: #cdcddbff;
  --light-gray: #e0dffe;
  --dark-gray: rgb(146, 146, 155);

  --orange-acc: #f9321aff;
  --light-orange-acc: rgb(233, 174, 167);

  --light-violet-acc: #eeeefc;
  --violet-acc2: #5365d0ff;
  --violet-acc1: #7047fdff;

  --red-acc: #b9545c;
  --light-red-acc: #fadcdd;

  --green-acc: #59c189;
  --light-green-acc: #f2fcf6;

  /* font-sizes */
  --title: 1.75em;
  --sub-title: 1.5em;
  --normal: 1.2em;
  --details: 0.8em;
  --sub-details: 0.6em;

  /* border-radius */
  --subtle: 10px;
  --semi: 15px;
  --hard: 30px;

  /* * box shadow */
  --shadow-sm: 0 4px 20px rgba(0, 0, 0, 0.1);
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  /* * THIS DIVIDES THE HEADER AND THE MAIN */
  display: flex;
  flex-flow: column nowrap;
}
/* ! END OF DEFAULTS */
main {
  flex: 1;

  display: flex;
  flex-flow: col nowrap;
  gap: 2.5rem;

  overflow: hidden;
}

/* * MAIN SECTION */
.main-div-section {
  padding: 2rem;

  display: flex;
  flex-flow: column nowrap;
  gap: 3rem;
  width: 100%;

  overflow-y: auto;
}

/* * OVERRIDING PAGE TITLE STYLE */
.page-title-add-button-div {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.page-title-add-button-div > p {
  font-weight: 700;
  color: var(--darkest);
  font-size: var(--title);
}

.page-title-add-button-div > div {
  display: flex;
  gap: 1rem;
}

.page-title-add-button-div button {
  padding: 1rem;
  border: none;
  border-radius: var(--semi);
  font-size: var(--details);
  background-color: var(--violet-acc1);
  color: var(--light-violet-acc);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.25rem;
  justify-content: center;
  font-weight: 700;
}

.custom-table {
  display: flex;
  flex-flow: column nowrap;
}

/* *CUSTOM HEADERS DIV */
.custom-table-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 0.5rem;
  background-color: var(--light);
  padding: 1rem;
  border-radius: var(--semi);
}

/* * ACTUAL CUSTOM HEADER */
.custom-table-header > div {
  font-size: var(--details);
  font-weight: 600;
  width: 100%;
  max-width: 10rem;
}

/* *CUSTOM ROWS DIV */
.custom-table-rows {
  display: flex;
  flex-flow: column nowrap;
}

.custom-table-data {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  border-bottom: 2px solid var(--light);
  border-radius: var(--semi);
}

.custom-table-data:hover {
  background-color: var(--light-violet-acc);
}

/* * ACTUAL DATA PER ROW */
.custom-table-data > div {
  width: 100%;
  max-width: 10rem;
  /* overflow-x: auto; */
  overflow: hidden;
  /* padding-bottom: 1rem; */

  display: flex;
  align-items: center;
}
.custom-table-data > div > span {
  /* font-size: 1rem; */
  font-size: var(--details);
}

/* * EMAIL COL */
.custom-table-data > div:nth-of-type(5) {
  background-color: var(--light-violet-acc);
  color: var(--violet-acc1);
  padding: 0.5rem 1rem;
  border-radius: var(--semi);
}

/* * EMAIL COL */
.custom-table-data > div:nth-of-type(6) {
  background-color: var(--light-violet-acc);
  color: var(--violet-acc1);
  padding: 0.5rem 1rem;
  border-radius: var(--semi);
}

/* * ACTION BUTTONS COL */
.custom-table-data > div:nth-of-type(7) {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
}

.custom-table-data > div:nth-of-type(7) > span {
  flex: 1;
  text-align: center;
  padding: 0.5rem;
  border-radius: var(--semi);
  font-size: var(--normal);
}

/* * EDIT BUTTON */
.custom-table-data > div:nth-of-type(7) > span:nth-of-type(1) {
  background-color: var(--light-green-acc);
  color: var(--green-acc);
}

/* * DELETE BUTTON */
.custom-table-data > div:nth-of-type(7) > span:nth-of-type(2) {
  background-color: var(--light-red-acc);
  color: var(--red-acc);
}

/* * OVERLAY OF ADD/UPDATE DIV */
.add-update-div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  z-index: 9999;
  overflow: auto;
}

/* * ACTUAL FORM THAT SERVERS AS CONTAINER */
#addUpdateForm,
#generateQuizForm {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 0.5rem;
  background-color: white;
  padding: 2rem;
  width: 100%;
  max-width: 50rem;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  margin: 1rem;
}

#addUpdateForm,
#generateQuizForm {
  display: none;
}

/* * FORM TITLE */
#addUpdateForm > p,
#generateQuizForm > p {
  font-weight: 700;
  font-size: var(--normal);
  color: var(--violet-acc1);
}

/* * THE CONTAINER OF THE FORM'S INPUTS */
.add-update-inputs-div {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  min-height: max-content;
}

/* * DIV OF QUESTION WITH CHOICE */
.question-choices-inputs-div {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;

  border: 2px solid var(--violet-acc1);
  border-radius: var(--subtle);
  padding: 1rem;
}

/* * REMOVE QUESTION BUTTON */
.remove-question-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: var(--normal);
  cursor: pointer;
  background-color: var(--light-red-acc);
  border-radius: var(--semi);
  color: var(--red-acc);
}

/* * INDIV QUESTION */
.question-div {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}

.question-div > p {
  font-weight: 600;
  font-size: var(--details);
}

/* * ACTUAL QUESTION */
.question-div > input {
  font-size: var(--normal);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: var(--subtle);
  background-color: var(--light);
}

/* * CHOICE LABEL AND CHOICES DIV */
.choices-container {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}

.choices-container > p {
  font-weight: 600;
  font-size: var(--details);
}

/* * DIV CONTAINER INDIV CHOICES */
.choices-container > .indiv-choices-div {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}

/* * INDIV CHOICES */
.choices-container > .indiv-choices-div > div {
  display: flex;
  flex-flow: flex nowrap;
  gap: 0.5rem;
  align-items: center;
}

.choices-container > .indiv-choices-div > div {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
}

.choices-container > .indiv-choices-div > div > input {
  background-color: var(--light);
  border-radius: var(--subtle);
  border: 2px solid transparent;
  padding: 0.5rem 1rem;
  font-size: var(--details);
  width: 100%;
}

/* * REMOVE QUESTION BUTTON */
.remove-choice-button {
  font-size: var(--normal);
  cursor: pointer;
  background-color: var(--dark-gray);
  border-radius: var(--semi);
  color: var(--light);
}

/* * BUTTON TO ADD ANOTHER CHOICES */
.choices-container > .add-choice-button {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.25rem;
  width: max-content;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: var(--subtle);
  align-self: center;
  background-color: var(--light-green-acc);
  color: var(--green-acc);
  font-size: var(--details);
}

/* * CORRECT ANSWER DIV */
.answer-container {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}

.answer-container > p {
  font-weight: 600;
  font-size: var(--details);
}

.answer-container > select,
.answer-container > input {
  background-color: var(--light);
  padding: 0.5rem 1rem;
  border-radius: var(--subtle);
  border: none;
}

/* * ADD ANOTHER QUESTION WITH TYPE DIV */
.add-question-type-div {
  margin-top: 1rem;
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  background-color: var(--light-violet-acc);
  width: max-content;
  border-radius: var(--subtle);
  padding: 0.5rem 1rem;
  align-self: center;
}

.add-question-type-div > select {
  border: none;
  background-color: var(--light-violet-acc);
  color: var(--violet-acc1);
  font-size: var(--details);
  border-radius: var(--subtle);
  text-align: center;
}

.add-question-type-div > .add-question-button {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.25rem;
  border: none;
  padding: 0.5rem 1rem;
  background-color: var(--light-violet-acc);
  font-size: var(--details);
  color: var(--violet-acc1);
}

/* * AUTO GENERATED QUIZ */
#generateQuizForm > .add-update-inputs-div > div:not(.add-update-buttons-div) {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}

#generateQuizForm
  > .add-update-inputs-div
  > div:not(.add-update-buttons-div)
  > p {
  font-weight: 600;
  font-size: var(--details);
}

#generateQuizForm
  > .add-update-inputs-div
  > div:not(.add-update-buttons-div)
  > *:nth-child(2) {
  padding: 0.5rem 1rem;
  border-radius: var(--subtle);
  background-color: var(--light);
  border: none;
  /* max-width: 20rem; */
}

#generateQuizForm
  > .add-update-inputs-div
  > div:not(.add-update-buttons-div)
  > textarea {
  max-width: 100% !important;
  resize: none;
}

/* * ACTION BUTTONS DIV */
.add-update-buttons-div {
  margin-top: 2rem;
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  margin-left: auto;
}

/* * INPUT SAVE AND CANCEL BUTTON */
.add-update-buttons-div > * {
  padding: 1rem;
  border-radius: var(--semi);
  border: none;
  font-size: var(--details);
  min-width: 5rem;
}

/* * SAVE BUTTON */
.add-update-buttons-div > input {
  color: var(--light-violet-acc);
  background-color: var(--violet-acc1);
}

/* * CANCEL BUTTON */
.add-update-buttons-div > button {
  color: white;
  background-color: var(--gray);
}

/* * QUIZ DETAILS */
.quiz-details-div {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  background-color: var(--light-violet-acc);
  padding: 1rem;
  border-radius: var(--semi);
  color: var(--violet-acc1);
}

.quiz-details-div > div {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}

.quiz-details-div > div > p {
  font-size: 1rem;
  font-weight: 600;
}

.quiz-details-div > div > *:not(:first-child) {
  padding: 0.5rem 1rem;
  background-color: var(--light-gray);
  border-radius: var(--subtle);
  border: none;
  color: black;
  font-size: 1rem;
}
