/* ! DEFAULTS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  /* colors */
  --darkest: #000000ff;

  --light: #f3f5f7;
  --lighter: #f6f5fa;
  --lightest: #f3f4f4ff;
  --light2: #fcfbfc;

  --gray: #cdcddbff;
  --light-gray: #e0dffe;
  --dark-gray: rgb(146, 146, 155);

  --orange-acc: #f9321aff;
  --light-orange-acc: rgb(233, 174, 167);

  --light-violet-acc: #eeeefc;
  --violet-acc2: #5365d0ff;
  --violet-acc1: #7047fdff;

  --red-acc: #b9545c;
  --light-red-acc: #fadcdd;

  --green-acc: #59c189;
  --light-green-acc: #f2fcf6;

  /* font-sizes */
  --title: 1.75em;
  --sub-title: 1.5em;
  --normal: 1.2em;
  --details: 0.8em;
  --sub-details: 0.6em;

  /* border-radius */
  --subtle: 10px;
  --semi: 15px;
  --hard: 30px;

  /* * box shadow */
  --shadow-sm: 0 4px 20px rgba(0, 0, 0, 0.1);
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  /* * THIS DIVIDES THE HEADER AND THE MAIN */
  display: flex;
  flex-flow: column nowrap;
}
/* ! END OF DEFAULTS */
main {
  flex: 1;

  display: flex;
  flex-flow: col nowrap;
  gap: 2.5rem;

  overflow: hidden;
}

/* * MAIN SECTION */
.main-div-section {
  padding: 2rem;

  display: flex;
  flex-flow: column nowrap;
  gap: 3rem;
  width: 100%;

  overflow-y: auto;
}

/* * OVERRIDING PAGE TITLE STYLE */
.page-title-add-button-div {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.page-title-add-button-div > p {
  font-weight: 700;
  color: var(--darkest);
  font-size: var(--title);
}

.page-title-add-button-div > button {
  padding: 1rem;
  border: none;
  border-radius: var(--semi);
  font-size: var(--details);
  background-color: var(--violet-acc1);
  color: var(--light-violet-acc);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.25rem;
  justify-content: center;
  font-weight: 700;
}

.custom-table {
  display: flex;
  flex-flow: column nowrap;
}

/* *CUSTOM HEADERS DIV */
.custom-table-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 0.5rem;
  background-color: var(--light);
  padding: 1rem;
  border-radius: var(--semi);
}

/* * ACTUAL CUSTOM HEADER */
.custom-table-header > div {
  font-size: var(--details);
  font-weight: 600;
  width: 100%;
  max-width: 10rem;
}

/* *CUSTOM ROWS DIV */
.custom-table-rows {
  display: flex;
  flex-flow: column nowrap;
}

.custom-table-data {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  border-bottom: 2px solid var(--light);
  border-radius: var(--semi);
}

.custom-table-data:hover {
  background-color: var(--light-violet-acc);
}

/* * ACTUAL DATA PER ROW */
.custom-table-data > div {
  width: 100%;
  max-width: 10rem;
  overflow: hidden;

  display: flex;
  align-items: center;
}

.custom-table-data > div > span {
  font-size: var(--details);
}

/* * TEACHER COL SPAN ACTUAL VALUE */
.custom-table#teacherTable .custom-table-data > div:nth-of-type(3) > span {
  background-color: var(--light-violet-acc);
  color: var(--violet-acc1);
  padding: 0.5rem 1rem;
  border-radius: var(--semi);
}

/* * ACTION BUTTONS COL */
.custom-table-data > div:last-child {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
}

.custom-table-data > div:last-child > span {
  flex: 1;
  text-align: center;
  padding: 0.5rem;
  border-radius: var(--semi);
  font-size: var(--normal);
}

/* * EDIT BUTTON */
.custom-table-data > div:last-child > span:nth-of-type(1) {
  background-color: var(--light-green-acc);
  color: var(--green-acc);
}

/* * DELETE BUTTON */
.custom-table-data > div:last-child > span:nth-of-type(2) {
  background-color: var(--light-red-acc);
  color: var(--red-acc);
}

/* * OVERLAY OF ADD/UPDATE DIV */
.add-update-div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  overflow: auto;
}

/* * ACTUAL FORM THAT SERVERS AS CONTAINER */
#addUpdateForm {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 0.5rem;
  background-color: white;
  padding: 2rem;
  width: 100%;
  max-width: 40rem;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  margin: 1rem;
}

/* * FORM TITLE */
#addUpdateForm > p {
  font-weight: 700;
  font-size: var(--normal);
  color: var(--violet-acc1);
}

/* * THE CONTAINER OF THE FORM'S INPUTS */
.add-update-inputs-div {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  min-height: max-content;
}

/* * ACTUAL DIV CONTAINING INPUTS */
.add-update-inputs-div > div:not(.add-update-buttons-div) {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}

/* * LABELS */
.add-update-inputs-div > div > label {
  font-weight: 600;
  font-size: var(--details);
}

/* * INPUTS, SELECT */
.add-update-inputs-div > div > input:not([type="submit"]),
.add-update-inputs-div > div > select {
  padding: 1rem;
  border-radius: var(--subtle);
  border: none;
  background-color: var(--light);
  font-size: var(--details);
}

/* * ACTION BUTTONS DIV */
.add-update-buttons-div {
  margin-top: 2rem;
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  margin-left: auto;
}

/* * INPUT SUBMIT AND BUTTON */
.add-update-buttons-div > * {
  padding: 1rem;
  border-radius: var(--semi);
  border: none;
  font-size: var(--details);
  min-width: 5rem;
}

/* * SAVE BUTTON */
.add-update-buttons-div > input {
  color: var(--light-violet-acc);
  background-color: var(--violet-acc1);
}

/* * CANCEL BUTTON */
.add-update-buttons-div > button {
  color: white;
  background-color: var(--gray);
}

#YearSectionInputs,
#CourseInputs,
#SubjectInputs,
#YearSectionTable,
#CourseTable,
#SubjectTable {
  display: none;
}
