:root {
  /* colors */
  --darkest: #000000ff;

  --light: #f3f5f7;
  --lighter: #f6f5fa;
  --lightest: #f3f4f4ff;
  --light2: #fcfbfc;

  --gray: #cdcddbff;
  --light-gray: #e0dffe;
  --dark-gray: rgb(146, 146, 155);

  --orange-acc: #f9321aff;
  --light-orange-acc: rgb(233, 174, 167);

  --light-violet-acc: #eeeefc;
  --violet-acc2: #5365d0ff;
  --violet-acc1: #7047fdff;

  --red-acc: #b9545c;
  --light-red-acc: #fadcdd;

  --green-acc: #59c189;
  --light-green-acc: #f2fcf6;

  /* font-sizes */
  --title: 1.75em;
  --sub-title: 1.5em;
  --normal: 1.2em;
  --details: 0.8em;
  --sub-details: 0.6em;

  /* border-radius */
  --subtle: 10px;
  --semi: 15px;
  --hard: 30px;
}

/* * SIDE NAV */
nav {
  min-width: 15rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  background-color: white;

  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}

nav > div {
  padding: 0.75rem 1rem;
  border-radius: var(--subtle);

  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  align-items: center;
}

nav > div.selected {
  color: var(--violet-acc1);
  background-color: var(--light-violet-acc);
  font-weight: 600;
}

nav > div:hover:not(.selected) {
  background-color: var(--light);
}

@media screen and (max-width: 700px) {
  nav {
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);

    flex-flow: row nowrap;
    border-radius: var(--subtle);
    z-index: 9997;

    padding: 0.5rem;
    justify-content: center;
  }

  nav > div > p {
    display: none;
  }
}

#inner-header-dropdown {
  display: none;
  /* display: flex; */
  flex-flow: column nowrap;
  gap: 1rem;
  padding-left: 2rem;
}

#inner-header-dropdown > div {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: var(--semi);
}

#inner-header-dropdown > div:hover {
  background-color: var(--violet-acc1);
  color: white;
}

#inner-header-dropdown > div.selected {
  background-color: var(--violet-acc1);
  color: white;
}
