/* ! DEFAULTS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  /* colors */
  --darkest: #000000ff;

  --light: #f3f5f7;
  --lighter: #f6f5fa;
  --lightest: #f3f4f4ff;

  --gray: #cdcddbff;
  --dark-gray: rgb(146, 146, 155);

  --orange-acc: #f9321aff;
  --light-orange-acc: rgb(233, 174, 167);
  --dark-red: #5a0e15;
  --light-red: #f8d7da;

  --light-violet-acc: #eeeefc;
  --violet-acc2: #5365d0ff;
  --violet-acc1: #7047fdff;

  --dark-green-acc: #224c3a;
  --green-acc: #68c19fff;
  --light-green-acc: rgb(178, 224, 206);

  /* font-sizes */
  --title: 1.75em;
  --sub-title: 1.5em;
  --normal: 1.2em;
  --details: 0.8em;
  --sub-details: 0.6em;

  /* border-radius */
  --subtle: 10px;
  --semi: 15px;
  --hard: 30px;
}
/* ! END OF DEFAULTS */

#toast-container {
  display: none;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  pointer-events: click-through;

  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
}

.toast {
  background-color: white;
  padding: 1rem 2rem;
  border-radius: var(--hard);
  width: 100%;
  margin: 1rem;
  max-width: 35rem;
  border-bottom: 10px solid var(--violet-acc1);

  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}

.message-div {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.toast p.message {
  color: var(--darkest);
  font-weight: 500;
  font-size: 1rem;
}

.toast .line {
  background-color: var(--gray);
  width: 100%;
  height: 0.05rem;
}

.toast .button-options {
  align-self: flex-end;

  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}

.toast .button-options > button {
  padding: 0.75rem 1rem;
  border-radius: var(--semi);
  border: none;
  font-weight: 600;
  font-size: var(--details);
}

.toast .button-options .cancel {
  display: none;
  color: var(--dark-gray);
  background-color: var(--light-violet-acc);
}

.toast .button-options .proceed {
  display: none;
  color: var(--light-violet-acc);
  background-color: var(--violet-acc1);
}
