/* ! DEFAULTS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  /* colors */
  --darkest: #000000ff;

  --light: #f3f5f7;
  --lighter: #f6f5fa;
  --lightest: #f3f4f4ff;
  --light2: #fcfbfc;

  --gray: #cdcddbff;
  --light-gray: #e0dffe;
  --dark-gray: rgb(146, 146, 155);

  --orange-acc: #f9321aff;
  --light-orange-acc: rgb(233, 174, 167);

  --light-violet-acc: #eeeefc;
  --violet-acc2: #5365d0ff;
  --violet-acc1: #7047fdff;

  --red-acc: #b9545c;
  --light-red-acc: #fadcdd;

  --green-acc: #59c189;
  --light-green-acc: #f2fcf6;

  /* font-sizes */
  --title: 1.75em;
  --sub-title: 1.5em;
  --normal: 1.2em;
  --details: 0.8em;
  --sub-details: 0.6em;

  /* border-radius */
  --subtle: 10px;
  --semi: 15px;
  --hard: 30px;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  /* * THIS DIVIDES THE HEADER AND THE MAIN */
  display: flex;
  flex-flow: column nowrap;
}
/* ! END OF DEFAULTS */